In [2]:
import json_lines
import pandas as pd
import pickle
import numpy as np


import datetime

import geopandas
import geopy

In [3]:
for i in range(0,4):
    
    tweets = load_jsonl(r"D:\twarc\climatetweetID\hydratefile\climate_id_0%d.jsonl" % (i))
    pdtweet = pd.DataFrame(tweets)

NameError: name 'load_jsonl' is not defined

In [4]:
# Define function to extract tweet and retweet information

def load_jsonl(file):
    tweets = []
    with open(file, 'rb') as f:
        for tweet in json_lines.reader(f, broken=True):             
            reduced_tweet = {'username': tweet['user']['screen_name'],
                             'tweet_id': tweet['id_str'],
                             'retweet_count' : tweet['retweet_count'],               
                             'like_count'    : tweet['favorite_count']}
            tweets.append(reduced_tweet)            
        return (tweets)

In [11]:
for i in range(0,4):    
    tweets = load_jsonl(r"D:\twarc\climatetweetID\hydratefile\climate_id_0%d.jsonl" % (i))
    pdtweet = pd.DataFrame(tweets)
    pdtweet.to_csv(r"D:\twarc\climatetweetID\tweets_prediction\influence\allusers_info\output_2\counttweets_%d.csv" % (i))
    print(i)

0
1
2
3

In [9]:
pdtweet

              username            tweet_id  retweet_count  like_count
0           MomMomHolt  951215126044205056             23           0
1             zkisor14  951215320831811584              0           0
2         NeroliRoocke  951215148739391488            256           0
3        therockyfiles  951215238128504841              0           0
4            JillK1964  951215308026638343            421           0
...                ...                 ...            ...         ...
6729393   EricaDoporto  922515695526653952            354           0
6729394        5_2blue  922515693840556032             10           8
6729395   winterbanyan  922515656817434624             21           0
6729396    Nicolasgwet  922515658209980419             17           0
6729397   incognito998  922515649204699137            118           0

[6729398 rows x 4 columns]